<header class="navbar navbar-expand-md navbar-dark bg-dark p-0">
  <div class="px-0 container-fluid d-flex py-1">
    <a class="navbar-brand col-md-3 col-lg-2 me-auto px-3" href="{{ url_for('dashboard') }}">Reporter</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{{ url_for_security('logout') }}">Sign out</a>
      </li>
    </ul>
  </div>
</header>
