{% extends "template_parts/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="bg-white p-3 mt-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Dashboard</h1>
    </div>
		<hr/>

		<div class="row">
			<div class="d-block col-12 col-lg-4">
				<h3 class="">Energy generation</h3>
			</div>
			<div class="d-block col-12 col-lg-4">
				<h3 class="">Energy usage</h3>
			</div>
			<div class="d-block col-12 col-lg-4">
				<h3 class="">Energy sold</h3>
			</div>
		</div>
  </div>
</main>

{% endblock %}
