{% extends "template_parts/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="bg-white p-3 mt-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1>Congratulations for signing up!</h1>
		</div>
		<hr/>

		<p>Before you can begin using the platform your profile will need to be approved by one of our admins. Make a cup of tea, this process should not take too long.</p>

		<p>You have access to your profile if you need to make any changes.</p>

	</div>
</main>
{% endblock %}
