{% extends "template_parts/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="bg-white p-3 mt-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Net Power Output</h1>
		<div class="btn-toolbar mb-2 mb-md-0">

		  <div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
			  Time Period
			</a>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			  <li><a class="dropdown-item" href="/net_power">24 hours</a></li>
			  <li><a class="dropdown-item" href="/net_power/48_hours">48 hours</a></li>
			  <li><a class="dropdown-item" href="/net_power/7_days">7 days</a></li>
			  <li><a class="dropdown-item" href="/net_power/28_days">28 days</a></li>
			  <li><a class="dropdown-item" href="/net_power/all">All time</a></li>
			</ul>
		  </div>
		  </div>

		</div>
		<hr/>

		<!--Chart-->
		<div>
			<canvas id="myChart"></canvas>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>
			const labels = [
			{% for row in time_data %}
				'{{row}}',
			{% endfor %}
			];

			const data = {
			labels: labels,
			datasets: [{
				label: 'Site Net Power Output (kW)',
				backgroundColor: 'rgb(80, 64, 227, 0.2)',
				borderColor: 'rgb(80, 64, 227)',
				data: [
				{% for row in net_power %}
					{{row}},
				{% endfor %}
				],
			}]
			};

			const config = {
				type: 'bar',
				data,
				options: {}
			};

			var myChart = new Chart(
				document.getElementById('myChart'),
				config
			);
		</script>
		<br/>

		<!--Data table-->
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
					<th>Date and Time</th>
					<th>Net power output (W)</th>
					</tr>
				</thead>
				<tbody>
					{% for row1, row2 in zip(net_power,time_data) %}
					<tr>
					<td>{{row2}}</td>
					<td>{{row1}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
  </div>
</main>
{% endblock %}
