{% extends "template_parts/base.html" %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="bg-white p-3 mt-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Live system</h1>
   		<div class="row">		
							<div class="btn-toolbar mb-2 mb-md-0">
								<div class="btn-group me-2">
								  <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
								  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
								</div>
					  
								<div class="dropdown">
								  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
									Time Period
								  </a>
								
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="/live_system/6h">6 hours</a></li>
									<li><a class="dropdown-item" href="/live_system/12h">12 hours</a></li>
									<li><a class="dropdown-item" href="/live_system/24h">24 hours</a></li>
									
								  </ul>
								</div>
											
			<div class="col-xs-10 col-sm-6 col-md-12">
				<div class="card card-style mb-2">
					<div class="card-body">
						<div class="chart-container" style="position: relative;">
							<canvas id="overtime_expenditure"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!--Chart-->
		<div>
			<canvas id="overtime_expenditure"></canvas>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
		<script>
			const labels = [
			{% for row in powers %}
				'{{row.device_name}}',
			{% endfor %}
			];

			const data = {
			labels: labels,
			datasets: [
				{
					label: 'Power produced',
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(15, 102, 255, 0.2)',
						'rgba(25, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)',
						'rgba(15, 102, 255, 0.2)',
						'rgba(25, 159, 64, 0.2)'
					],
					data: [
					{% for row in powers %}
						{{row.power}},
					{% endfor %}
					]
				},
				
			]
			};

			const config = {
				type: 'bar',
				data,
				options: {
					scales: [{
									}]
				}
			};
			
			var myChart = new Chart(document.getElementById('overtime_expenditure'),
				config
			);
		</script>
		<br/>
		
		<!--Data table-->
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
					<th>Site</th>
					<th>Date and Time</th>
					<th>Power produced</th>
					</tr>
				</thead>
				<tbody>
					{% for row in powers %}
					<tr>
						<td>{{row.device_name}}</td>
						<td>{{row.date_time}}</td>
						<td>{{row.power}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
  </div>
</main>

{% endblock %}
