<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link {{ 'active' if request.endpoint == 'dashboard.dashboard'}}" aria-current="page" href="{{ url_for('dashboard.dashboard') }}">
					<span data-feather="home"></span>
					<i class="bi-house-fill"></i> Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#">
					<span data-feather="home"></span>
					<i class="bi-speedometer"></i> Live system
				</a>
			</li>
			{% if current_user.has_role('admin') %}
				<li class="nav-item">
					<a class="nav-link {{ 'active' if request.endpoint == 'users.users'}}" aria-current="page" href="{{ url_for('users.users') }}">
						<span data-feather="home"></span>
						<i class="bi-people"></i> Users
					</a>
				</li>
			{% endif %}

		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
		  <span>Reporting</span>
		</h6>
		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#">
					<span data-feather="home"></span>
					<i class="bi-clipboard-data"></i> Reports
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ 'active' if request.endpoint == 'trading.trading'}}" aria-current="page" href="{{ url_for('trading.trading') }}">
					<span data-feather="home"></span>
					<i class="bi-graph-up"></i> Energy bids
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#">
					<span data-feather="home"></span>
					<i class="bi-lightning-charge"></i> Power generation
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ 'active' if request.endpoint == 'electricity_use.electricity_use'}}" aria-current="page" href="{{ url_for('electricity_use.electricity_use') }}">
                    <span data-feather="home"></span>
                    <i class="bi-lightning-charge"></i> Electricity usage
                </a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ 'active' if request.endpoint == 'co2.co2'}}" aria-current="page" href="{{ url_for('co2.co2') }}">
					<span data-feather="home"></span>
					<i class="bi-thermometer-half"></i> CO2 savings
				</a>
			</li>
		</ul>
	</div>
</nav>
