{% extends "template_parts/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="bg-white p-3 mt-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Profile</h1>
    </div>

    <h2>About</h2>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">First name:</span> {{ user.first_name }}</p></div>
      <div class="col col-12 col-md-6"><p><span class="h6">Surname:</span> {{ user.surname }}</p></div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">ID:</span> {{ user.id }}</p></div>
      <div class="col col-12 col-md-6"><p><span class="h6">Email:</span> {{ user.email }}</p></div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">Username:</span> {{ user.username }}</p></div>
      <div class="col col-12 col-md-6"><p><span class="h6">Roles:</span> {{ user.roles }}</p></div>
    </div>

    <h2>Info</h2>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">Last login IP:</span> {{ user.last_login_ip }}</p></div>
      <div class="col col-12 col-md-6"><p><span class="h6">Current login IP:</span> {{ user.current_login_ip }}</p></div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">Login count:</span> {{ user.login_count }}</p></div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6"><p><span class="h6">Created at:</span> {{ user.create_datetime.strftime("%m/%d/%Y, %H:%M:%S") }}</p></div>
      <div class="col col-12 col-md-6"><p><span class="h6">Last updated at:</span> {{ user.update_datetime.strftime("%m/%d/%Y, %H:%M:%S") }}</p></div>
    </div>
  </div>
</main>
{% endblock %}
